version: "3.9"

services:
  postgres:
    image: postgres:18
    container_name: real_estate_db
    restart: always
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./setup.sql:/docker-entrypoint-initdb.d/setup.sql
    command: postgres -c listen_addresses='*'
  
volumes:
  postgres_data:
